/* Nav */
header {
  background: #e4f5eb;
  transition: 2s;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#signIn-FreeTril {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#signIn-FreeTril li a {
  font-size: 1rem;
}
.logo {
  margin-right: auto;
  margin-left: 1.2rem;
  transition: all 3s;
}

#freeTril a {
  padding: 0.8rem 1rem;
  border-radius: 4.957px;
  background: #45b871;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
  color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px; /* 75% */
  transition: 2s;
}

#nav-links {
  display: none;
}

body.open #nav-links {
  position: fixed;
  transition: 3s;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  left: 0;
  top: 0;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.play-btns img {
  width: 70px;
}


/* ul#nav-links li a ,ul#nav-links li{
  font-size: 1.5rem;
  color:rgba(69, 184, 113, 1);
} */

/* color: #f2efef; */
/* Container */
.container {
  padding: 2rem;
}

.container,
.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2.5em;
}

.container-content .primary-btn {
  padding: 0.6rem 1rem;
  border-radius: 4.957px;
  background: #45b871;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
  color: #fff;
  font-family: Open Sans;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.727px; /* 160% */
}

.container-content .play-btns button {
  color: #242323;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px; /* 75% */
}

.play-btns {
  margin-top: 0;
}

.heading {
  color: #242323;
  font-family: Open Sans;
  font-size: 2.5rem;
  /* font-size: 63.454px; */
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  transition: 3ms;
}

.description {
  color: #6c6c6a;
  font-size: 1rem;
  font-family: Open Sans;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 600;
  line-height: 1.3rem;
  transition: 3ms;
}

li a,
li {
  text-decoration: none;
  list-style: none;
  color: #575859;
  font-family: Open Sans;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px;
}

main {
  background: #fff;
  /* padding: 2rem; */
  transition: 2s;
}

#brands,
#brands-logos {
  display: flex;
}
#brands {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
#brands-logos {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#brands h2 {
  color: #575859;
  font-family: Open Sans;
  /* font-size: 35.693px; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 49.573px; 138.889% */
  text-align: center;
  line-height: 2.5rem;
}

/* course-section */

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transition: 2s;
  padding: 3rem;
}

#course-section-heading {
  color: #242323;
  font-family: Open Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 127.586% */
}

#course-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: #e4f5eb;
  align-items: center;
  gap: 2rem;
}

#course-section button {
  padding: 1.5rem 1.2rem;
  border-radius: 5px;
  background: #45b871;
  box-shadow: 0px 10px 80px 0px rgba(9, 188, 77, 0.25);
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 75% */
  align-self: center;
}

.card {
  background: #fff;
  stroke-width: 1px;
  stroke: #f2efef;
  filter: drop-shadow(0px 20px 100px rgba(87, 88, 89, 0.1));
  width: 310px;
  height: 440px;
  border-radius: 1rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.5rem;
  padding-top: 2rem;
}

.vedio-review,
.video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.video-info,
.video-creater {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-creater {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.card-content h2 {
  color: #242323;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.7rem;
}

.video-link p {
  color: #575859;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.vedio-review p {
  color: #575859;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
.video-creater-profil {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#play-btn-2 {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
}
.video-creater-profil img {
  background: #c4c4c4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.video-creater-info h3 {
  color: #242323;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 105% */
}

.video-creater-info a {
  color: #45b871;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-decoration-line: underline;
}

.card h1 {
  color: #4c68ff;
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 44.118% */
}

.hr {
  border: 1px solid rgba(38, 142, 170, 0.5);
  width: 100%;
}

/* review section */

#review-section-heading {
  text-align: center;
  color: #242323;
  font-family: Open Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}

article {
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

div#review-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review-card {
  border-radius: 15px;
  border: 1px solid rgba(231, 231, 231, 0.70);
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  max-width: 634.33px;
  max-height: 100%;
}

.review-card p {
  color: #8c8e90;
  font-family: Open Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
}

.review-card-name h2 {
  color: #242323;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 10px; 33.333% */
}

.review-card-name p {
  color: #636262;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1px; 5% */
}

.review-card-img {
  background-repeat: no-repeat;
  background-position: center;
}

.review-card-img img {
  background: url(./public/icons/review-secton-cricle.png);
  background-size: cover;
  width: 127.844px;
  height: 127.251px;
  border-radius: 50%;
  border-radius: 50%;
}

/* footer */
footer {
  padding: 2rem;
}

#footer {
  background: url(./public/footer-bg.png);
  background-position: center;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 4rem;
  gap: 1rem;
  margin-inline: 3rem;
}

.signUp-freeTrial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer h1 {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.signUp-freeTrial .Sign-up {
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 7px 50px 0px rgba(9, 188, 77, 0.3);
  background: transparent;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 75% */
  padding: 1rem 1rem;
  margin-right: 1rem;
}

.signUp-freeTrial .Start-Free-Trial {
  border-radius: 5px;
  background: #fff;
  color: #242323;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 75% */
  padding: 1rem 1rem;
}

/* 451px*/

@media screen and (max-width:451px) {
  /* nav */
  #freeTril {
    display: none;
  }

  #navbar {
    justify-content: space-between;
  }

  #navbar .logo {
    margin-left: auto;
    margin-right: 0;
    transition: ease-in;
  }
  
}

/* 500px*/

@media screen and (max-width:501px) {
  #sign-in {
    display: none;
  } 
  
}


/* 851px */

@media screen and (min-width: 851px) {
  /* Navbar */

  #navbar {
    padding: 2rem 3rem;
  }

  /* Container */

  .container {
    flex-direction: row;
    gap: 0;
    padding: 3rem;
  }

  .container-content {
    align-items: flex-start;
  }

  .heading,
  .description {
    text-align: start;
  }

  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
    /* min-width: 18rem; */
  }

  .description {
    font-size: 1rem;
    line-height: 1.6rem;
    /* width: 30rem; */
  }

  .btns {
    display: flex;
    justify-content: flex-start;
  }

  .container-content .primary-btn {
    padding: 0;
    width: 10rem;
    height: 4rem;
  }

  .play-btns {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .play-btns img {
    width: 5rem;
    height: 5rem;
  }

  .img-container {
    width: 150%;
    height: 50%;
    transition: 0.5s;
  }

  /* main */

  #brands {
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    padding: 3rem;
  }

  #brands h2 {
    min-width: 19rem;
  }

  #brands-logos img {
    width: 10rem;
  }

  /* course-section */

  #course-section {
    align-items: flex-start;
    
  }

  /* #cards {
    justify-content: space-around;
  } */

  /* 1051px */

  @media screen and (min-width: 1051px) {
    /* Header */
    header {
      padding: 1rem 2rem;
    }
  }

  /* 1100px */

  @media screen and (min-width: 1100px) {
    /* Navbar */

    #navbar {
      justify-content: space-between;
    }

    #menu-berber {
      display: none;
    }

    #nav-links {
      display: flex;
      gap: 4rem;
      align-items: center;
    }

    .down-arrow {
      display: inline-block;
    }

    #navbar .logo {
      margin: 0;
    }

    /* Haeder */

    .heading {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

/* 1200px */

@media screen and (min-width: 1200px) {
  /* Header */
  header {
    padding: 0rem 2rem;
  }

  /* main */

  #brands h2 {
    width: 10rem;
  }

  #main {
    padding: 0rem 2rem;
  }
}
