/* Nav */
header {
  background: #e4f5eb;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#signIn-FreeTril {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#signIn-FreeTril li a {
  font-size: 1rem;
}
.logo {
  margin-right: auto;
  margin-left: 1.2rem;
}

#menu-hamburger {
  background: url(./public/icons/icons8-menu.svg);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
  cursor: pointer;
}

#nav-links {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  gap: 2rem;
  visibility: hidden;
  opacity: 0;
  padding-top: 6rem;
  cursor: pointer;
}

.open header .container,
.open #signIn-FreeTril {
  transition: 2s;
  filter: blur(10px);
}

.open .logo {
  filter: blur(10px);
}

.open #nav-links {
  position: fixed;
  transition: 3s;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  gap: 3rem;
  left: 0;
  top: 10%;
  z-index: 2;
}
#nav-links li a,
#all-courses {
  font-size: 1rem;
}

.drop-down {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 192px;
  align-items: center;
  gap: 2rem;
  background: #45b871;
  padding: 1rem;
  border-radius: 1rem;
  right: 100px;
  transform: translate(0, 30px);
  justify-content: space-evenly;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.drop-down a {
  font-size: 1rem;
}

#all-courses:hover .drop-down {
  visibility: visible;
  opacity: 0.81;
  transform: translate(0, 10px);
}

.down-arrow {
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
}

.open #menu-hamburger {
  background: url(./public/icons/icons8-close-30.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.play-btns a {
  color: #242323;
  font-family: Open Sans;
  font-size: 19.829px;
  font-weight: 600;
  line-height: 14.872px;
  transition: 0.5s;
  cursor: pointer;
}

.play-btns a:hover {
  text-decoration: underline #45b871;
}

.play-btns img {
  width: 70px;
}
/* Buttons styles */

#freeTril a {
  padding: 1rem 1rem;
  border-radius: 4.957px;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
  font-family: Open Sans;
  font-weight: 600;
  line-height: 14.872px; /* 75% */
  background: #45b871;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

#freeTril a:hover {
  opacity: 0.8s;
}

/* Brands section */

.logo-container {
  overflow: hidden;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
}

.logo-wrapper {
  white-space: nowrap;
  animation: scroll 9s linear infinite; /* Reduce the duration to 5 seconds */
}

.logo-wrapper img {
  width: auto;
  height: 100%;
  margin-right: 20px; /* Adjust the margin between logos */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Buttons styles End */

.container {
  padding: 2rem;
}

.container,
.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2.5em;
}

.container-content .primary-btn {
  padding: 0.6rem 1rem;
  border-radius: 4.957px;
  background: #45b871;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
  color: #fff;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 31px; /* 160% */
  transition: 0.5s;
}

.primary-btn:hover {
  opacity: 0.8;
}

.container-content .play-btns button {
  color: #242323;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px; /* 75% */
}

.play-btns {
  margin-top: 0;
}

.heading {
  color: #242323;
  font-family: Open Sans;
  font-size: 2.5rem;
  /* font-size: 63.454px; */
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  transition: 3ms;
}

.description {
  color: #6c6c6a;
  font-size: 1rem;
  font-family: Open Sans;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 600;
  line-height: 1.3rem;
  transition: 3ms;
}

li a,
li {
  text-decoration: none;
  list-style: none;
  color: #575859;
  /* color: #45b871; */
  font-family: Open Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px;
  transition: color 0.5s;
}

li a:hover {
  color: #45b871;
}

main {
  background: #fff;
  /* padding: 2rem; */
  transition: 2s;
}

#main .container-content {
  gap: 1.9rem;
}

#brands,
#brands-logos {
  display: flex;
}
#brands {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
#brands-logos {
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

#brands h2 {
  color: #575859;
  font-family: Open Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

/* course-section */
#course-section-heading {
  color: #242323;
  font-family: Open Sans;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 40px; /* 127.586% */
}

#course-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: #e4f5eb;
  align-items: center;
  gap: 2rem;
}

#course-section button {
  padding: 1.5rem 1.2rem;
  border-radius: 5px;
  background: #45b871;
  box-shadow: 0px 10px 80px 0px rgba(9, 188, 77, 0.25);
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 75% */
  align-self: center;
}

/* carousel */
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 85vh;
}

.carousel-slides {
  position: absolute;
  display: flex;
  transition: left 0.3s ease-in-out;
  overflow-x: auto; /* Add horizontal scrolling on smaller screens */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
  gap: 1.5rem;
}

.carousel-card {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.carousel-card-lecture-content,
.carousel-card-lecture-review,
.carousel-card-lecture-video,
.carousel-card-footer,
.carousel-card-content {
  display: flex;
}

.carousel-card-lecture-video,
.carousel-card-lecture-review {
  align-items: center;
  gap: 0.5rem;
}

.carousel-card-footer div {
  margin-right: auto;
}

.carousel-card-content {
  flex-direction: column;
  fill: #fff;
  stroke-width: 1px;
  background: #f2efef;
  filter: drop-shadow(0px 20px 100px rgba(87, 88, 89, 0.1));
  padding: 1rem;
  gap: 0.5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.carousel-card-content hr {
  width: 100%;
  background: rgba(38, 142, 170, 0.5);
  padding: 0.2px;
}

.carousel-card-footer,
.carousel-card-lecture-content {
  align-items: center;
  justify-content: space-between;
}
.carousel-card-img-container img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.carousel-card-content h1 {
  color: #242323;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 25px;
}

.carousel-card-lecture-video p {
  color: #575859;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 15px; /* 75% */
}

.carousel-card-lecture-review p {
  color: #575859;
  text-align: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

.carousel-card-footer h2 {
  color: #242323;
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 105% */
}

.carousel-card-footer a {
  color: #45b871;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  text-decoration-line: underline;
}

h2.card-price {
  color: #4c68ff;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 15px; /* 44.118% */
}

.carousel-card-footer img {
  border-radius: 50%;
  width: 3rem;
  margin-right: 1rem;
}

#prevBtn,
#nextBtn {
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

#prevBtn {
  left: 0;
  transform: translatey(180px);
  background: rgba(87, 88, 89, 0.3);
  width: 3rem;
  font-size: 3em;
  color: white;
}

#prevBtn:hover {
  background: rgba(87, 88, 89, 0.3);
  color: rgba(87, 88, 89, 1);
}

#nextBtn {
  right: 0;
  transform: translatey(180px);
  background: rgba(87, 88, 89, 0.3);
  width: 3rem;
  font-size: 3em;
  color: white;
}

#review-section-heading {
  text-align: center;
  color: #242323;
  font-family: Open Sans;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 40px;
}

.two-review-cards {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

article {
  background: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div#review-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  background: #fff;
  border-radius: 15px;
  padding-inline: 3rem;
}

.review-card {
  border-radius: 15px;
  border: 1px solid rgba(231, 231, 231, 0.7);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
}

.main-review-card {
  max-width: 634.33px;
  max-height: 100%;
}

.review-card p {
  color: #8c8e90;
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
}

.review-card-name h2 {
  color: #242323;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.review-card-name p {
  color: #636262;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}

.review-card-img {
  background-repeat: no-repeat;
  background-position: center;
}

.review-card-img img {
  background: url(./public/icons/review-secton-cricle.png);
  background-size: cover;
  width: 127.844px;
  height: 127.251px;
  border-radius: 50%;
  border-radius: 50%;
}

/* footer */
footer {
  padding: 2rem;
}

#footer {
  background: url(./public/footer-bg.png);
  background-position: center;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 4rem;
  gap: 1rem;
  height: 50vh;
}

.signUp-freeTrial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer h1 {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: 700;
}

.signUp-freeTrial .Sign-up {
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 7px 50px 0px rgba(9, 188, 77, 0.3);
  background: transparent;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 75% */
  padding: 1rem 1rem;
  margin-right: 1rem;
  transition: 0.5s;
}

.Sign-up:hover {
  background: #fff;
  color: #45b871;
}

.signUp-freeTrial .Start-Free-Trial {
  border-radius: 5px;
  background: #fff;
  color: #575859;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 15px; /* 75% */
  padding: 1rem 1rem;
  transition: 0.5s;
}

.Start-Free-Trial:hover {
  background: #636262;
  color: #fff;
}

/* 451px*/

@media screen and (max-width: 451px) {
  /* nav */
  #freeTril {
    display: none;
  }

  #navbar {
    justify-content: space-between;
  }

  #navbar .logo {
    margin-left: auto;
    margin-right: 0;
    transition: ease-in;
  }
}

/* 500px*/

@media screen and (max-width: 501px) {
  #sign-in {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div#review-cards {
    padding-inline: 0rem;
  }
}
/* 851px */

@media screen and (min-width: 851px) {
  /* Navbar */

  #navbar {
    /* padding: 2rem 6rem; */
    padding: 2rem 4rem;
  }

  #all-courses:hover {
    color: #45b871;
  }

  /* Container */

  .container {
    flex-direction: row;
    gap: 0;
    /* padding: 4rem 7rem; */
    padding: 3rem 3rem;
  }

  #main .img-container img {
    width: 87%;
  }

  #main .container {
    padding: 2rem 4rem;
  }

  .container-content {
    align-items: flex-start;
  }

  .heading,
  .description {
    text-align: start;
  }

  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
    /* min-width: 18rem; */
  }

  .description {
    font-size: 1rem;
    line-height: 1.4rem;
    /* width: 30rem; */
  }

  .btns {
    display: flex;
    justify-content: flex-start;
  }

  .container-content .primary-btn {
    padding: 0;
    width: 9rem;
    height: 3rem;
  }

  .play-btns {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .play-btns img {
    width: 5rem;
    height: 5rem;
  }

  .img-container {
    width: 150%;
    height: 50%;
    transition: 0.5s;
  }

  /* main */

  #brands {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    padding-inline: 6rem;
  }

  #brands h2 {
    min-width: 19rem;
  }

  #brands-logos img {
    width: 10rem;
  }

  /* course-section */

  #course-section {
    align-items: flex-start;
    padding-inline: 6rem;
  }
}

@media screen and (min-width: 951px) {
  div#review-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 4rem;
  }

  .two-review-cards {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .review-cards-1 p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .review-cards-2,
  .review-cards-3 {
    gap: 1rem;
    height: 17rem;
    padding: 1rem;
  }

  .review-cards-2 h2,
  .review-cards-3 h2 {
    font-size: 1.2rem;
  }

  .review-cards-1 {
    height: 27rem;
    border-radius: 15px;
    border: 1px solid rgba(231, 231, 231, 0.7);
    background: #fff;
    box-shadow: 30px 30px 70px 0px rgba(99, 98, 98, 0.06);
  }
  .review-cards-2 p,
  .review-cards-3 p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .review-cards-3 {
    grid-column: 2/3;
  }

  .review-cards-2 .review-card-img img,
  .review-cards-3 .review-card-img img {
    width: 4rem;
    height: 4rem;
  }
}

/* 1100px */

@media screen and (min-width: 1100px) {
  /* Navbar */

  #navbar {
    justify-content: space-between;
  }

  li a,
  li {
    font-size: 1rem;
  }

  .down-arrow {
    display: inline-block;
    width: 1rem;
    margin-top: 0rem;
  }

  #menu-hamburger {
    display: none;
  }

  #all-courses {
    display: flex;
    margin-top: 0.5rem;
    position: relative;
  }

  #nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    gap: 2rem;
    cursor: pointer;
    margin-right: 4rem;
    position: static;
    width: 0;
    height: 0;
    visibility: visible;
    opacity: 1;
    margin-right: auto;
  }

  .drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200%;
    flex-wrap: wrap;
    height: 10rem;
    align-items: center;
    justify-content: center;
    background: #45b871;
    padding: 1rem;
    gap: 1rem;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    translate: 17rem 2rem;
  }

  .drop-down a {
    color: #f2efef;
  }

  #all-courses:hover .drop-down,
  #all-courses.drop-down a:hover {
    visibility: visible;
    opacity: 1;
    translate: 17rem 0rem;
    color: #575859;
  }

  #nav-links {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .down-arrow {
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    transition: 0.5s;
    cursor: pointer;
  }

  .drop-down {
    right: 180px;
  }

  /* Haeder */

  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* 1200px */

@media screen and (min-width: 1200px) {
  /* nav */

  #navbar {
    padding: 2rem 6rem;
  }

  .container {
    padding: 4rem 7rem;
  }

  /* main */

  #brands h2 {
    width: 10rem;
  }

  #main {
    padding: 0rem 2rem;
  }

  footer {
    padding-inline: 6rem;
  }

  #footer h1 {
    font-size: 2.2rem;
    max-width: 40rem;
  }
}
